.vs
packages
*.csproj
*.sln
*.config
bin
obj
Properties
Test.cs
Standalone
Rbot-Scripts
Script.cs
Snippets
roslyn
WIP
RBot_3.6.3.2
*.txt
*.xml
*.swf
*.exe
*.cfg
*.rar
*.zip
Projects W.I.P
Class1.cs
*.json
!ScriptTags.json
scripts.json
*.code-workspace
Projects
.shacache
UltraBosses
CoreArmy.cs
z_CompiledScript.cs
Generated
!SkuaScriptsGenerator/SkuaScriptsGenerator.csproj
